h1.header {
	font-family: 'Prompt', sans-serif;
	font-size: 5vw;
	font-weight: 100;
	font-style: normal;
	color: white;
	opacity: 1.0;
}

div.header-back {
	background-color: rgba(0, 0, 0, 0.7);
	top: 80%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 40%;
	height: 15%;

	display:flex;
	justify-content:center;
	align-items:center;
}

div.main {
	background-color: #333333;
	background-image: url("background3small.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	text-align: center;
}

span.header-github {
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 20px;
	left: 20px;	
	content: '';
	opacity: 0.5;
	background-image: url("github-mark.png");
	background-size: cover;
}

span.header-github:hover {
	opacity: 1;
}
