@font-face {
	font-family: "Prompt-Regular";
	src: url('Prompt-Regular.ttf');
}

@font-face {
	font-family: "Prompt-Thin";
	src: url('Prompt-Thin.ttf');
}

@font-face {
	font-family: "Prompt-Light";
	src: url('Prompt-Light.ttf');
}

h1.header {
	font-family: 'Prompt-Thin', sans-serif;
	font-size: 6vmax;
	font-weight: 100;
	font-style: normal;
	color: white;
	opacity: 1.0;
}

div.header-back {
	background-color: rgba(0, 0, 0, 0.7);
	top: 80%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 50vmax;
	height: 10vmax;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius: 6vmax;
}

div.main {
	background-color: #333333;
	background-image: url("background4-small.jpg");
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	text-align: center;
}

span.header-github {
	width: 5vmax;
	height: 5vmax;
	position: absolute;
	bottom: 5vmin;
	left: 5vmin;	
	content: '';
	opacity: 0.5;
	background-image: url("github-mark.png");
	background-size: cover;
}

span.header-github:hover {
	opacity: 1;
}

span.right-bottom {
	font-family: 'Prompt-Light', sans-serif;
	position: absolute;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	bottom: 5vmin;
	right: 5vmin;
	font-size: 1vmax;
	text-align: center;
	padding: 5px;
	border-radius: 1vmax;
	opacity: 0.75;
}

span.right-bottom:hover {
	opacity: 1;
}

div.datenschutz {
	margin-left: 30%;
	margin-right: 30%;
	text-align: justify;
	
}

div.datenschutz > h2, div.datenschutz > h3 {
	font-family: 'Prompt-Regular', sans-serif;
}

div.datenschutz > p, div.datenschutz > a {
	font-family: 'Prompt-Light', sans-serif;
}
